

.start-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

canvas {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#game_box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}